body {
    height: 100vh;
}

.footer {
    margin-top: -24px;
    color: white;
}


/* Input field */

.form-control {
    border: 1px solid #edff00;
}

.btn {
    color: #007c00;
}

.form-control:focus {
    border-color: #edff00;
    box-shadow: 0 0 0 2px rgba(243, 223, 46, 0.75);
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: #16963c;
}


/* Coustom */

.au-card {
    max-width: 720px;
    width: 100%;
    height: fit-content !important;
    background-color: rgba(0, 45, 19, 0.6);
    border-radius: 16px;
    margin-top: 16px;
    margin-bottom: 48px;
}

.au-card-body {
    color: white;
    width: 100%;
    max-width: 420px;
}

.au-txt-h {
    font-size: 28px;
}

.m-card {
    max-width: 960px;
    width: 100%;
    height: fit-content !important;
    margin-top: 16px;
    margin-bottom: 48px;
}

.m-card-body {
    max-width: 860px;
    width: 100%;
}

.m-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 16px 0 16px 0;
    border: 1px solid #e7e2e2;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #16963c;
    box-shadow: 1px 2px 2px 2px rgb(234 234 234 / 75%);
}

.goto {
    width: 48px;
    height: 48px;
    border: 3px soild #fff;
    border-radius: 24px;
    background: #a6a63c;
    color: #fff;
    font-size: 32px;
}

.goto:hover {
    background-color: #fff;
    color: #007c00;
    cursor: pointer;
}

.m-txt-h {
    color: #fff;
    font-size: 28px;
}

.m-checkbox {
    width: 20px;
    height: 20px;
    background-color: #0f0;
}

.t-box {
    min-height: 352px;
    height: 30vh;
    overflow-y: auto;
}

.txt-l {
    font-size: 20px;
    color: #fff;
}

.t-dategrop {
    background: #E8ED09;
    color: #fff;
    width: 320px;
    border-radius: 0 0 18px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-cell {
    padding: 32px 24px 32px 24px;
    background-color: #d7dc00;
}

.d-l {
    border-radius: 0 0 0 16px;
}

.d-r {
    border-radius: 0 0 16px 0;
}

.d-ct {
    font-size: 32px;
    font-weight: bold;
    color: #003506;
}

.d-cb {
    font-size: 24px;
    font-weight: bold;
    color: #007c00;
}

.t-cell:hover {
    background-color: #007c00;
    cursor: pointer;
}

.r-card {
    background: #E8ED09;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
}

.r-cell {
    width: 96px;
    height: 96px;
    margin: 16px;
    border-radius: 16px;
    position: relative;
}

.r-cell-b {
    background: #1FDC00;
    border: 2px solid white;
    box-shadow: 2px 2px 2px 2px rgba(234 234 234 / 90%);
}

.r-cell-b:hover {
    border: 2px solid rgba(0, 60, 6, 0.6);
    box-shadow: 2px 2px 2px 2px rgba(0, 60, 6, 0.6);
    cursor: pointer;
}

.r-cell-a {
    background: #aaa;
    box-shadow: 2px 2px 2px 2px rgba(0, 60, 6, 0.6);
    cursor: pointer;
}

.r-cell-ac {
    background: #55D109;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -12px;
    bottom: -12px;
    border-radius: 24px;
}

.h-card {
    width: 100%;
}

.h-top {
    width: 160px;
    height: 160px;
    padding: 16px;
    border-radius: 32px;
    border: 4px solid #E8ED09;
    background-color: #1FDC00;
    box-shadow: 0px 0px 16px 8px rgb(220, 235, 87, 0.8);
}

.h-btg {
    width: 118px;
    margin: 16px;
    color: #fff;
}

.h-btg:hover {
    color: #E8ED09;
    cursor: pointer;
}

.h-txt-p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px !important;
}

.h-btm {
    width: 118px;
    height: 118px;
    padding: 16px;
    border-radius: 60px;
    background-color: #E8ED09;
    border: 3px solid #fff;
    box-shadow: 0px 0px 8px 4px rgba(234, 234, 234, 0.75);
}

.h-btm:hover {
    background-color: #1FDC00;
    box-shadow: 0px 0px 16px 8px rgb(220, 235, 87, 0.8);
}

.hr {
    color: #fff;
    background: #fff;
    height: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 2px;
}

.login {
    width: 100%;
    height: 100vh;
    background-image: url('../images/login.jpg');
    background-position: center;
    background-size: cover;
}

.register {
    width: 100%;
    height: 100vh;
    background-image: url('../images/register.jpg');
    background-position: center;
    background-size: cover;
}

.forgot {
    width: 100%;
    height: 100vh;
    background-image: url('../images/fogotpassword.jpg');
    background-position: center;
    background-size: cover;
}

.cnav-bar {
    /* height: 72px !important; */
    background-color: #011d04;
}

.nav-bcolor {
    background-color: #011d04;
}

.nav-link {
    font-size: 20px;
}

.nav-color {
    color: #FFF !important;
}

.nav-setc {
    color: #E8ED09 !important;
}

.main {
    padding-top: 72px;
    width: 100%;
    height: 100vh;
    background-color: #003506;
    background-position: center;
    background-size: cover;
}

.record {
    padding-top: 72px;
    width: 100%;
    height: 100vh;
    background-color: #003506;
    background-position: center;
    background-size: cover;
}

@media (max-width: 1180px) and (orientation: landscape) {
    .record {
        height: 100% !important;
    }
}

@media (max-width: 990px) and (orientation: landscape) {
    body,
    .login,
    .register,
    .forgot,
    .main,
    .record {
        height: 100% !important;
    }
}

@media (max-width: 769px) and (orientation: portrait) {
    body {
        height: 100% !important;
    }
}

@media (max-width: 567px) and (orientation: portrait) {
    .m-trh {
        display: none;
    }
    .m-tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        border: 2px solid #e7e2e2;
        padding: 4px;
    }
    .footer {
        margin-top: -48px;
    }
    body,
    .record {
        height: 100%;
    }
    .main {
        height: 100% !important;
    }
    /* .t-box {
        min-height: 352px;
        height: 100%;
        overflow-y: auto;
    } */
}

@media (max-width: 567px) {
    .m-trh {
        display: none;
    }
    .m-tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        border: 2px solid #e7e2e2;
        padding: 4px;
    }
}